@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.extra-padding-center {
  padding: 30px 390px 210px 390px;
}

.header-banner {
  background: linear-gradient(90deg, #fd712c 0%, #f31f79 100%);
  color: white;
  font-size: 1rem;
}
.header-banner .header nav {
  justify-content: space-between;
  display: flex;
}
.header-banner .header nav .logo {
  display: flex;
}
.header-banner .header nav .logo h1 {
  font-size: 36px;
  font-family: "Dosis", sans-serif;
}
.header-banner .header nav .nav-panel ul {
  list-style: none;
  display: flex;
}
.header-banner .header nav .nav-panel ul li {
  margin: auto;
  justify-content: space-around;
  padding: 0 30px;
}
.header-banner .header nav .nav-panel ul button {
  background-color: white;
  color: black;
  border: 0;
  padding: 10.5px 30px;
  border-radius: 35px;
  font-size: 14px;
  outline: none;
  font-weight: 600;
  margin-left: 20px;
}
.header-banner .banner .banner-content {
  padding-top: 150px;
  width: 50%;
}
.header-banner .banner .banner-content h1 {
  font-family: "Dosis", sans-serif;
  font-size: 54px;
  font-weight: 600;
}
.header-banner .banner .banner-content p {
  padding-top: 27px;
  font-weight: 100;
}
.header-banner .banner .banner-content ul {
  padding-top: 30px;
  list-style: inside;
}
.header-banner .banner .banner-content ul li {
  padding-top: 20px;
  font-weight: 400;
}
.header-banner .banner .banner-content button {
  margin-top: 40px;
  border-radius: 35px;
  font-weight: 500;
  border: 5px solid #e2602d;
  padding: 12px 40px;
}

.features {
  padding-bottom: 0 !important;
}
.features ul {
  padding-top: 120px;
  padding-bottom: 70px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features ul li {
  width: 360px;
}
.features ul li .feature-element {
  display: flex;
  margin-bottom: 50px;
}
.features ul li .feature-element .feature-image {
  margin: auto;
  margin-right: 20px;
  border: 1px solid #eeeeee;
  border-radius: 37.5px;
  padding: 15px;
  min-width: 30px;
  min-height: 30px;
  font-family: "Font Awesome 5 Free";
  text-align: center;
}
.features ul li .feature-element .feature-image img {
  width: 100%;
  height: 100%;
}
.features ul li .feature-element .feature-description h1 {
  font-size: 24px;
  padding-bottom: 15px;
}
.features ul li .feature-element .feature-description h5 {
  font-size: 14px;
  color: #777777;
  font-weight: 300;
}
.features hr {
  border: none;
  color: #eeeeee;
  background-color: #eeeeee;
  height: 2px;
}

.dont_leave {
  padding-top: 120px;
  display: flex;
}
.dont_leave .dont_leave-text {
  padding-left: 225px;
}
.dont_leave .dont_leave-text h1 {
  font-size: 36px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}
.dont_leave .dont_leave-text p {
  color: #777777;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}
.dont_leave .dont_leave-text .first-parag {
  padding-bottom: 80px !important;
}
.dont_leave .dont_leave-text ul {
  list-style: inside;
}
.dont_leave .dont_leave-text ul li {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
}

.screen_shots {
  background-color: #f7fafc;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.screen_shots h1 {
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Dosis" sans-serif;
}
.screen_shots p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Robot" sans-serif;
  color: #777777;
  padding-bottom: 80px;
}
.screen_shots .portfolio {
  display: flex;
}
.screen_shots .portfolio .card {
  -webkit-box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
  min-width: 360px;
  margin-top: auto;
  margin-bottom: auto;
}
.screen_shots .portfolio .first-card {
  position: relative;
  height: 500px;
  z-index: 1004;
  transform: translateX(-687px);
  background-image: url("./images/center.png");
}
.screen_shots .portfolio .second-card {
  position: relative;
  height: 440px;
  z-index: 1003;
  margin-top: auto;
  margin-bottom: auto;
}
.screen_shots .portfolio .third-card {
  position: relative;
  height: 360px;
  z-index: 1002;
}
.screen_shots .portfolio .fourth-card {
  position: relative;
  height: 280px;
  z-index: 1001;
}
.screen_shots .portfolio .left-card-2 {
  transform: translateX(-522px);
  background-image: url("./images/left-1.png");
}
.screen_shots .portfolio .left-card-3 {
  background-image: url("./images/left-2.png");
  transform: translateX(-292px);
}
.screen_shots .portfolio .left-card-4 {
  background-image: url("./images/left-3.png");
  transform: translateX(0);
}
.screen_shots .portfolio .right-card-2 {
  background-image: url("./images/right-1.png");
  transform: translateX(-852px);
  background-repeat: no-repeat;
  background-position-x: right;
}
.screen_shots .portfolio .right-card-3 {
  background-image: url("./images/right-2.png");
  transform: translateX(-1087px);
  background-repeat: no-repeat;
  background-position-x: right;
}
.screen_shots .portfolio .right-card-4 {
  background-image: url("./images/right-3.png");
  background-repeat: no-repeat;
  transform: translateX(-1379px);
  background-position-x: right;
}

.pricing {
  padding-top: 130px;
  text-align: center;
}
.pricing h1 {
  font-size: 36px;
  font-family: "Dosis" sans-serif;
}
.pricing h6 {
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  padding-top: 30px;
  font-weight: 400;
  color: #777777;
}
.pricing .card-list {
  display: flex;
  flex-wrap: wrap;
}
.pricing .card-list ul {
  list-style: none;
}
.pricing .card-list .card {
  min-width: 260px;
  min-height: 480px;
}

.video {
  background-image: url("./images/video.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 100%;
}
.video .video-player {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.video .video-player button {
  width: 75px;
  height: 75px;
  border: 0;
  border-radius: 37.5px;
  background: linear-gradient(90deg, #fd712c 0%, #f31f79 100%);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.testimonials {
  padding-top: 130px;
  text-align: center;
}
.testimonials h1 {
  font-size: 36px;
  font-family: "Dosis" sans-serif;
}
.testimonials h6 {
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  padding-top: 30px;
  font-weight: 400;
  color: #777777;
}

/*# sourceMappingURL=style.css.map */
