@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

section {
  padding: 30px 390px 210px 390px;
}

section.no-padding {
  padding: 0 !important;
}

/*
.extra-padding-center{
  padding: 30px 390px 210px 390px;
}
*/
.header-banner {
  background: linear-gradient(90deg, #fd712c 0%, #f31f79 100%);
  color: white;
  font-size: 1rem;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
.header-banner .header {
  padding-right: 390px !important;
}
.header-banner .header nav {
  justify-content: space-between;
  display: flex;
}
.header-banner .header nav .logo {
  display: flex;
}
.header-banner .header nav .logo h1 {
  font-size: 36px;
  font-family: "Dosis", sans-serif;
}
.header-banner .header nav .nav-panel ul {
  list-style: none;
  display: flex;
}
.header-banner .header nav .nav-panel ul li {
  margin: auto;
  justify-content: space-around;
  padding: 0 30px;
}
.header-banner .header nav .nav-panel ul button {
  background-color: white;
  color: black;
  border: 0;
  padding: 10.5px 30px;
  border-radius: 35px;
  font-size: 14px;
  outline: none;
  font-weight: 600;
  margin-left: 20px;
}
.header-banner .banner .phone-images {
  background-image: url("./images/banner-phone-images.png");
  margin-left: 60px;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}
.header-banner .banner .banner-content {
  padding-top: 150px;
  width: 100%;
  display: flex;
}
.header-banner .banner .banner-content h1 {
  font-family: "Dosis", sans-serif;
  font-size: 54px;
  font-weight: 600;
}
.header-banner .banner .banner-content p {
  padding-top: 27px;
  font-weight: 100;
}
.header-banner .banner .banner-content ul {
  list-style-position: inside;
  list-style: white;
  list-style-image: url(./images/header-list.png);
  padding-top: 30px;
}
.header-banner .banner .banner-content ul li {
  padding-top: 20px;
  font-weight: 400;
}
.header-banner .banner .banner-content button {
  margin-top: 40px;
  border-radius: 35px;
  font-weight: 500;
  border: 5px solid #e2602d;
  padding: 12px 40px;
}

.features {
  padding-bottom: 0 !important;
}
.features ul {
  padding-top: 120px;
  padding-bottom: 70px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features ul li {
  width: 360px;
}
.features ul li .feature-element {
  display: flex;
  margin-bottom: 50px;
}
.features ul li .feature-element .feature-image {
  margin: auto;
  margin-right: 20px;
  border: 1px solid #eeeeee;
  border-radius: 37.5px;
  padding: 15px;
  min-width: 30px;
  min-height: 30px;
  font-family: "Font Awesome 5 Free";
  text-align: center;
}
.features ul li .feature-element .feature-image img {
  width: 75%;
  height: 75%;
  margin-top: 3px;
}
.features ul li .feature-element .feature-description h1 {
  font-size: 24px;
  padding-bottom: 15px;
}
.features ul li .feature-element .feature-description h5 {
  font-size: 14px;
  color: #777777;
  font-weight: 300;
}
.features hr {
  border: none;
  color: #eeeeee;
  background-color: #eeeeee;
  height: 2px;
}

.dont_leave > * {
  text-align: left;
}

.dont_leave {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  padding-left: 30px !important;
  padding-right: 0 !important;
}
.dont_leave .dont_leave-image {
  background-image: url("./images/dont-leave-image.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 362px;
  height: 469px;
}
.dont_leave .dont_leave-text {
  padding-left: 225px;
}
.dont_leave .dont_leave-text h1 {
  font-size: 36px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}
.dont_leave .dont_leave-text p {
  color: #777777;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}
.dont_leave .dont_leave-text .first-parag {
  padding-bottom: 80px !important;
}
.dont_leave .dont_leave-text ul {
  list-style-position: inside;
  list-style-image: url("./images/dont-leave-list.png");
}
.dont_leave .dont_leave-text ul li {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

.screen_shots {
  padding: 120px 0 !important;
  background-color: #f7fafc;
  text-align: center;
}
.screen_shots h1 {
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}
.screen_shots p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Robot" sans-serif;
  color: #777777;
  padding-bottom: 80px;
}
.screen_shots .portfolio {
  position: relative;
  display: flex;
  justify-content: center;
}
.screen_shots .portfolio .card {
  -webkit-box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
  min-width: 350px;
  margin-top: auto;
  margin-bottom: auto;
}
.screen_shots .portfolio .first-card {
  position: relative;
  height: 500px;
  z-index: 1004;
  background-image: url("./images/center.png");
}
.screen_shots .portfolio .second-card {
  position: relative;
  height: 440px;
  z-index: 1003;
  margin-top: auto;
  margin-bottom: auto;
}
.screen_shots .portfolio .third-card {
  position: relative;
  height: 360px;
  z-index: 1002;
}
.screen_shots .portfolio .fourth-card {
  position: relative;
  height: 280px;
  z-index: 1001;
}
.screen_shots .portfolio .left-card-2 {
  transform: translateX(170px);
  background-image: url("./images/left-1.png");
}
.screen_shots .portfolio .left-card-3 {
  background-image: url("./images/left-2.png");
  transform: translateX(403px);
}
.screen_shots .portfolio .left-card-4 {
  background-image: url("./images/left-3.png");
  transform: translateX(697px);
}
.screen_shots .portfolio .right-card-2 {
  background-image: url("./images/right-1.png");
  transform: translateX(-170px);
  background-repeat: no-repeat;
  background-position-x: right;
}
.screen_shots .portfolio .right-card-3 {
  background-image: url("./images/right-2.png");
  transform: translateX(-403px);
  background-repeat: no-repeat;
  background-position-x: right;
}
.screen_shots .portfolio .right-card-4 {
  background-image: url("./images/right-3.png");
  background-repeat: no-repeat;
  transform: translateX(-697px);
  background-position-x: right;
}

.pricing {
  padding-top: 130px;
  padding-bottom: 120px !important;
  text-align: center;
  padding: 130px 0 120px 0;
}
.pricing h1 {
  font-size: 36px;
  font-family: "Dosis", sans-serif;
}
.pricing h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 30px;
  font-weight: 400;
  color: #777777;
}
.pricing .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  justify-content: center;
}
.pricing .card-list .card {
  min-width: 260px;
  min-height: 480px;
  background-color: #f7fafc;
  margin-right: 30px;
}
.pricing .card-list .card .card-title p {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 12px 0;
}
.pricing .card-list .card ul {
  list-style: none;
  margin-top: 40px;
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.pricing .card-list .card ul li {
  padding: 6px 0;
  border-bottom: 1px dashed #eeeeee;
}
.pricing .card-list .card ul li:last-child {
  border-bottom: 0;
}
.pricing .card-list .card .price {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 30px;
  background-color: white;
  justify-content: center;
}
.pricing .card-list .card .price p {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 1em;
}
.pricing .card-list .card .price .dollar {
  margin-top: 4.5px;
  font-size: 0.45em;
}
.pricing .card-list .card .price .months {
  margin-top: 17px;
  font-size: 0.5em;
}
.pricing .card-list .card .start {
  color: #aaa;
  margin-bottom: 15px;
}
.pricing .card-list .card .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 130px 0 130px;
  border-color: #fff transparent transparent transparent;
}
.pricing .card-list .card button {
  background-color: white;
  color: black;
  font-weight: 600;
  border-radius: 75px;
  border: 1px solid #eee;
  width: 135px;
  height: 40px;
}
.pricing .card-list .best {
  -webkit-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
}
.pricing .card-list .best p {
  color: white;
}
.pricing .card-list .best .price {
  background-color: #f7fafc;
  background-image: url("./images/bg-gradient.svg");
  background-repeat: no-repeat;
  height: 75px;
}
.pricing .card-list .best button {
  background: linear-gradient(90deg, #fd712c 0%, #f31f79 100%);
  color: white;
  border: 3px solid #eee;
}

.video {
  background-image: url("./images/video.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 100%;
}
.video .video-player {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.video .video-player .wrap-btn {
  height: 100%;
  text-align: center;
}
.video .video-player .wrap-btn button {
  width: 75px;
  height: 75px;
  border: 0;
  border-radius: 37.5px;
  background: linear-gradient(90deg, #fd712c 0%, #f31f79 100%);
  position: relative;
  margin-top: 162.5px;
  text-align: center;
}
.video .video-player .wrap-btn button img {
  margin-top: 4px;
}

.testimonials {
  padding-top: 130px;
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.testimonials h1 {
  font-size: 36px;
  font-family: "Dosis", sans-serif;
}
.testimonials h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 30px;
  font-weight: 400;
  color: #777777;
}
.testimonials .slider {
  margin-top: 30px;
}
.testimonials .slider .left-btn {
  bottom: -160px;
  left: -630px;
  background-image: url("./images/left-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}
.testimonials .slider .cards {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.testimonials .slider .cards .card {
  width: 360px;
  height: 275px;
  background-color: #f7fafc;
}
.testimonials .slider .cards .card .content {
  padding: 40px !important;
}
.testimonials .slider .cards .card .content .bottom-part {
  display: flex;
  position: relative;
  top: 40px;
}
.testimonials .slider .cards .card .content .bottom-part h1 {
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  text-align: left;
  margin-top: 15px;
}
.testimonials .slider .cards .card .content .bottom-part .about {
  margin-left: 20px;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}
.testimonials .slider .cards .card .content .bottom-part .about p {
  margin-top: 5px;
}
.testimonials .slider .cards .card p {
  height: 80px;
  font-weight: 300;
  color: #777777;
  text-align: left;
}
.testimonials .slider .cards .center {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
}

.download {
  padding-top: 130px;
  padding-bottom: 120px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: linear-gradient(90deg, #fd712c 0%, #f31f79 100%);
}
.download h1.title {
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: "Dosis", sans-serif;
  margin-bottom: 90px;
  font-weight: 600;
}
.download .button-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.download .button-menu .button {
  margin-right: 30px;
  width: 360px;
  height: 115px;
  display: flex;
  background-color: white;
}
.download .button-menu .button .icon {
  width: 115px;
  background-color: #f7fafc;
  text-align: center;
  padding-top: 17px;
}
.download .button-menu .button .description {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
.download .button-menu .button .description h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.download .button-menu .button .description p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  padding-top: 10px;
}
.download .button:last-child {
  margin-right: 0 !important;
}

.footer {
  background-color: #222222;
  padding: 60px 0;
  text-align: center;
}
.footer ul {
  padding-bottom: 30px;
  list-style: none;
  display: flex;
  width: 165px;
  justify-content: space-between;
  margin: auto;
}
.footer p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.btn {
  position: relative;
  border-radius: 20px;
  border: 2px solid #eeeeee;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
}

.right-btn {
  background: linear-gradient(90deg, #fd712c 0%, #f31f79 100%);
  left: 630px;
  bottom: 160px;
  background-repeat: no-repeat;
  background-position: center;
}
.right-btn img {
  text-align: center;
  margin-bottom: 1.2px;
}

.left-btn {
  bottom: -160px;
  left: -630px;
  background-image: url("./images/left-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.right-btn.port-btn {
  bottom: 260px;
}

.left-btn.port-btn {
  bottom: -260px;
}

@media screen and (max-width: 1520px) {
  .features {
    text-align: center !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .features > ul {
    text-align: left !important;
    justify-content: space-around;
  }

  .card-list .card {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1405px) {
  .testimonials .slider .cards .card:first-child {
    display: none;
  }

  .testimonials .slider .cards .card:last-child {
    display: none;
  }

  .testimonials .slider .cards {
    justify-content: center;
  }

  .testimonials .slider {
    display: flex;
    width: 570px;
    margin: 60px auto 0 auto;
  }

  .testimonials .slider .right-btn, .testimonials .slider .left-btn {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0;
  }

  .header-banner .banner .phone-images {
    display: none;
  }

  .header-banner {
    padding-left: 0 !important;
  }

  .header-banner .header {
    padding-right: 0 !important;
  }
  .header-banner .header nav {
    justify-content: center;
  }

  .banner-content {
    padding-top: 100px !important;
    padding-bottom: 60px;
    display: block;
  }
  .banner-content .banner-about {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .banner-content .banner-about p {
    width: 360px;
    margin: auto;
  }

  .portfolio-slider {
    width: 570px;
    justify-content: space-between;
    display: flex;
    margin: auto;
  }
  .portfolio-slider .btn {
    margin: auto;
  }
  .portfolio-slider .right-btn {
    left: 0 !important;
    bottom: 0 !important;
  }
  .portfolio-slider .left-btn {
    left: 0 !important;
    bottom: 0 !important;
  }

  .portfolio .card:not(.first-card) {
    display: none;
  }
}
@media screen and (max-width: 1156px) {
  .download .button {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1100px) {
  .dont_leave {
    justify-content: space-around;
  }

  .dont_leave .dont_leave-text {
    padding-left: 0 !important;
  }

  .download .button-menu {
    display: block;
    margin-right: 0 !important;
  }

  .download .button-menu .button {
    margin: 60px auto 0 auto !important;
  }
}
@media screen and (max-width: 920px) {
  .dont_leave {
    display: block;
    justify-content: center;
    padding-left: 0 !important;
  }

  .dont_leave > * {
    margin: 0 auto;
    width: 361px;
  }

  .dont_leave-text {
    padding-top: 30px;
  }
}
@media screen and (max-width: 719px) {
  .download .button {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 660px) {
  .header nav {
    display: block !important;
  }
  .header nav .logo {
    width: 100px;
    margin: auto;
    margin-bottom: 40px;
  }
  .header nav ul {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 610px) {
  .testimonials .slider, .testimonials .slider .cards {
    width: 100%;
  }

  .testimonials .slider .right-btn, .testimonials .slider .left-btn {
    display: none;
  }

  .portfolio-slider .right-btn, .left-btn {
    display: none;
  }

  .portfolio-slider {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .header nav ul {
    display: block !important;
    text-align: center;
  }
  .header nav ul li {
    margin-top: 10px !important;
  }
  .header nav ul button {
    margin-left: 0 !important;
    margin-top: 30px;
  }
}
@media screen and (max-width: 530px) {
  .card-list .card {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 420px) {
  .dont_leave-text {
    width: 100%;
  }
  .dont_leave-text h1 {
    text-align: center;
  }

  .dont_leave-text > * {
    padding-left: 30px;
    padding-right: 30px;
  }

  .dont_leave-image {
    width: 100% !important;
  }
}
@media screen and (max-width: 365px) {
  .download .button-menu .button {
    width: 100% !important;
  }

  .screen_shots .portfolio .first-card {
    width: 100% !important;
  }

  .banner-content .banner-about p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
