@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

section{
  padding: 30px 390px 210px 390px;
}

.no-padding{
  padding: 0 !important;
}

/*
.extra-padding-center{
  padding: 30px 390px 210px 390px;
}
*/

.header-banner{
  background: linear-gradient(90deg, rgba(253,113,44,1) 0%, rgba(243,31,121,1) 100%);
  color: white;
  font-size: 1rem;
  .header{
    nav{
      justify-content: space-between;
      display: flex;
      .logo{
        display: flex;
        h1{
          font-size: 36px;
          font-family: 'Dosis', sans-serif;
        }
      }
      .nav-panel{
        ul {
          list-style: none;
          display: flex;
          li {
            margin: auto;
            justify-content: space-around;
            padding: 0 30px;
          }
          button{
            background-color: white;
            color: black;
            border: 0;
            padding: 10.5px 30px;
            border-radius: 35px;
            font-size: 14px;
            outline: none;
            font-weight: 600;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .banner{
    .banner-content{
      padding-top: 150px;
      width: 50%;
      h1{
        font-family: 'Dosis', sans-serif;
        font-size: 54px;
        font-weight: 600;
      }
      p{
        padding-top: 27px;
        font-weight: 100;
      }
      ul{
        padding-top: 30px;
        list-style: inside;
        li {
          padding-top: 20px;
          font-weight: 400;
        }

      }
      button{
        margin-top: 40px;
        border-radius: 35px;
        font-weight: 500;
        border: 5px solid #e2602d;
        padding: 12px 40px;
      }
    }
  }
}

.features{
  padding-bottom: 0 !important;
  ul {
    padding-top: 120px;
    padding-bottom: 70px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 360px;


      .feature-element{
        display: flex;
        margin-bottom: 50px;
          .feature-image{
          margin: auto;
          margin-right: 20px;
          border: 1px solid #eeeeee;
          border-radius: 37.5px;
          padding: 15px;
          min-width: 30px;
          min-height: 30px;
          font-family: "Font Awesome 5 Free";
          text-align: center;
          img {
            width: 75%;
            height: 75%;
            margin-top: 3px;
          }
        }
        .feature-description{
          h1{
            font-size: 24px;
            padding-bottom: 15px;
          }
          h5{
            font-size: 14px;
            color: #777777;
            font-weight: 300;
          }
        }
      }
    }
  }
  hr {
    border: none;
    color: #eeeeee;
    background-color: #eeeeee;
    height: 2px;
  }
}

.dont_leave{
  padding-top: 120px;
  display: flex;

  .dont_leave-image{
    background-image: url('./images/dont-leave-image.png');
    background-repeat: no-repeat;
    width: 362px;
    height: 469px;
  }
  .dont_leave-shadow{
    opacity: 0;
    height: 1px;
    width: 100px;
    -webkit-box-shadow: 4px 4px 84px 35px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 84px 35px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 84px 35px rgba(34, 60, 80, 0.2);
  }
  .dont_leave-text{
    padding-left: 225px;
    h1{
      font-size: 36px;
      font-family: 'Dosis', sans-serif;
      font-weight: 700;
      padding-bottom: 30px;
    }
    p{
      color: #777777;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      padding-bottom: 30px;
    }
    .first-parag{
      padding-bottom: 80px !important;
    }
    ul {
      list-style-position: inside;
      list-style-image: url('./images/dont-leave-list.svg');
      li {
        color: #777777;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 10px;
      }
    }
    
  }
}

.screen_shots{
  background-color: #f7fafc;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  h1{
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
  }
  p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Robot' sans-serif;
    color: #777777;
    padding-bottom: 80px;
  }
  .portfolio{
    display: flex;
    .card{
      -webkit-box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 30px 49px -19px rgba(34, 60, 80, 0.2);
      min-width: 360px;
      margin-top: auto;
      margin-bottom: auto;
    }
    .first-card{
      position: relative;
      height: 500px;
      z-index: 1004;
      transform: translateX(-292px - 230px - 165px);
      background-image: url('./images/center.png');
    }
    .second-card{
      position: relative;
      height: 440px;
      z-index: 1003;
      margin-top: auto;
      margin-bottom: auto;
    }
    .third-card{
      position: relative;
      height: 360px;
      z-index: 1002;
    }
    .fourth-card{
      position: relative;
      height: 280px;
      z-index: 1001;
    }

    .left-card-2{
      transform: translateX(-292px - 230px);
      background-image: url('./images/left-1.png');
    }
    .left-card-3{
      background-image: url('./images/left-2.png');
      transform: translateX(-292px);
    }
    .left-card-4{
      background-image: url('./images/left-3.png');
      transform: translateX(0);
    }
    .right-card-2{
      background-image: url('./images/right-1.png');
      transform: translateX(-292px - 230px - 330px);
      background-repeat: no-repeat;
      background-position-x: right;
    }
    .right-card-3{
      background-image: url('./images/right-2.png');
      transform: translateX(-292px - 230px - 330px - 235px);
      background-repeat: no-repeat;
      background-position-x: right;
    }
    .right-card-4{
      background-image: url('./images/right-3.png');
      background-repeat: no-repeat;
      transform: translateX(-292px - 230px - 330px - 235px - 292px);
      background-position-x: right;
    }
  }
}

.pricing{
  padding-top: 130px;
  padding-bottom: 120px !important;
  text-align: center;
  
  h1 {
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
  }
  h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 30px;
    font-weight: 400;
    color: #777777;
  }
  .card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;

    .card{
      min-width: 260px;
      min-height: 480px;
      background-color: #f7fafc;
      .card-title{
        p{
          font-family: 'Dosis', sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: #333333;
          padding: 12px 0;
        }
      }
      ul {
        list-style: none;
        margin-top: 40px;
        padding-bottom: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #777777;
        li {
          padding: 6px 0;
          border-bottom: 1px dashed rgb(238, 238, 238);
        }
        li:last-child {
          border-bottom: 0;
        }
      }
      .price{
        display: flex;
        padding-top: 30px;
        padding-bottom: 15px;
        font-size: 30px;
        background-color: white;
        justify-content: center;
        p {
          font-family: 'Dosis', sans-serif;
          font-weight: 600;
          font-size: 1em;
        }
        .dollar{
          margin-top: 4.5px;
          font-size: 0.45em;
        }
        .months{
          margin-top: 17px;
          font-size: 0.5em;
        }
      }
      .start{
        color: #aaa;
        margin-bottom: 15px;
      }
      .triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 130px 0 130px;
        border-color: #fff transparent transparent transparent;
      }
      button{
        background-color: white;
        color: black;
        font-weight: 600;
        border-radius: 75px;
        border: 1px solid #eee;
        width: 135px;
        height: 40px;
      }
    }
    .best {
      -webkit-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
      p{
        color: white;
      }
      .price {
        background-color: #f7fafc;
        background-image: url('./images/bg-gradient.svg');
        background-repeat: no-repeat;
        height: 75px;
      }
      button{
        background: linear-gradient(90deg, rgba(253,113,44,1) 0%, rgba(243,31,121,1) 100%);
        color: white;
        border: 3px solid #eee;
      }
    }
  }
}

.video{
  background-image: url('./images/video.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 100%;
  .video-player{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    .wrap-btn{
      height: 100%;
      text-align: center;
      button {
        width: 75px;
        height: 75px;
        border: 0;
        border-radius: 37.5px;
        background: linear-gradient(90deg, rgba(253,113,44,1) 0%, rgba(243,31,121,1) 100%);
        position: relative;
        margin-top: 162.5px;
        text-align: center;
        img {
          margin-top: 4px;
        }
      }
    }
    
  }
}

.testimonials{
  padding-top: 130px;
  text-align: center;
  h1 {
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
  }
  h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 30px;
    font-weight: 400;
    color: #777777;
  }
  .slider{
    margin-top: 30px;
    .btn{
      position: relative;
      border-radius: 20px;
      border: 2px solid #eeeeee;
      width: 40px;
      height: 40px;
      background-color: rgba(0,0,0,0);
    }
    .right-btn{
      background:  linear-gradient(90deg, rgba(253,113,44,1) 0%, rgba(243,31,121,1) 100%);
      left: 630px;
      bottom: 160px;
      background-repeat: no-repeat;
      background-position: center;
      img {
        text-align: center;
        margin-bottom: 1.2px;
      }
    }
    .left-btn{
      bottom: -160px;
      left: -630px;
      background-image: url('./images/left-arrow-slider.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    .cards{
      display: flex;
      justify-content: space-between;
      .card{
        width: 360px;
        height: 275px;
        background-color: #f7fafc;
        .content{
          padding: 40px !important;
          align-items: space-between;
          .bottom-part{
            display: flex;
            position: relative;
            top: 40px;
            h1{
              font-size: 18px;
              font-family: 'Dosis', sans-serif;
              text-align: left;
              margin-top: 15px;
            }
            .about{
              margin-left: 20px;
              display: inline;
              margin-top: auto;
              margin-bottom: auto;
              p{
                margin-top: 5px;
              }
            }
          }
        }
        p {
          height: 80px;
          font-weight: 300;
          color: #777777;
          text-align: left;
        }
      }
      .center{
        background-color: #fff !important;
        -webkit-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 9px 24px 0px rgba(34, 60, 80, 0.2);
      }
    }
  }
}

.download{
  padding-top: 130px;
  padding-bottom: 120px !important;
  background: linear-gradient(90deg, rgba(253,113,44,1) 0%, rgba(243,31,121,1) 100%);
  h1.title {
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 90px;
    font-weight: 600;
  }
  .button-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .button{
      width: 360px;
      height: 115px;
      display: flex;
      background-color: white;
      .icon{
        width: 115px;
        background-color: #f7fafc;
        text-align: center;
        padding-top: 17px;
      }
      .description{
        margin-top:auto;
        margin-bottom:auto;
        margin-left: 20px;
        h1{
          font-family: 'Dosis', sans-serif;
          font-weight: 600;
          font-size: 30px;
        }
        p{
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #777777;
          padding-top: 10px;
        }
      }
    }
  }
}

.footer{
  background-color: #222222;
  padding: 60px 0;
  text-align: center;
  ul {
    padding-bottom: 30px;
    list-style: none;
    display: flex;
    width: 165px;
    justify-content: space-between;
    margin: auto;
  }
  p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}